<div class="container mt-5 pt-5">
    <h1>Usuarios</h1>
  
    <form class="form-card">
      <div class="form-group">
        <label for="nombre">Nombre del usuario</label>
        <input type="text" id="nombre" class="form-control" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" class="form-control" placeholder="Correo">
      </div>
      <button type="submit" class="btn">Agregar Usuario</button>
    </form>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.email }}</td>
            <td>
              <button class="btn-edit">Editar</button>
              <button class="btn-delete">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  