<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">Mi Proyecto</a>
      <ul class="navbar-links">
        <li><a routerLink="/calificaciones" routerLinkActive="active">Calificaciones</a></li>
        <li><a routerLink="/pagos" routerLinkActive="active">Pagos</a></li>
        <li><a routerLink="/propiedades" routerLinkActive="active">Propiedades</a></li>
        <li><a routerLink="/solicitudes" routerLinkActive="active">Solicitudes</a></li>
        <li><a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
      </ul>
    </div>
  </nav>
  