<div class="container mt-5 pt-5">
  <h1>SOLICITUDES DE ARRENDAMIENTO</h1>

  <form class="form-card" (ngSubmit)="crearSolicitud()">
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" id="estado" class="form-control" [(ngModel)]="nuevaSolicitud.estado" name="estado" placeholder="Estado">
    </div>
    <div class="form-group">
      <label for="fechaSolicitud">Fecha de Solicitud</label>
      <input type="date" id="fechaSolicitud" class="form-control" [(ngModel)]="nuevaSolicitud.fechaSolicitud" name="fechaSolicitud">
    </div>
    <div class="form-group">
      <label for="fechaEntrada">Fecha de Entrada</label>
      <input type="date" id="fechaEntrada" class="form-control" [(ngModel)]="nuevaSolicitud.fechaEntrada" name="fechaEntrada">
    </div>
    <div class="form-group">
      <label for="fechaSalida">Fecha de Salida</label>
      <input type="date" id="fechaSalida" class="form-control" [(ngModel)]="nuevaSolicitud.fechaSalida" name="fechaSalida">
    </div>
    <button type="submit" class="btn">Crear Solicitud</button>
  </form>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Estado</th>
          <th>Fecha de Solicitud</th>
          <th>Fecha de Entrada</th>
          <th>Fecha de Salida</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes">
          <td>{{ solicitud.id }}</td>
          <td>{{ solicitud.estado }}</td>
          <td>{{ solicitud.fechaSolicitud }}</td>
          <td>{{ solicitud.fechaEntrada }}</td>
          <td>{{ solicitud.fechaSalida }}</td>
          <td>
            <button class="btn-delete" (click)="eliminarSolicitud(solicitud.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>