<div th:fragment="navbar">
    <header>
      <nav>
        <a href="#" class="logo">WEB</a>
        <ul>
          <li><a href="http://127.0.0.1:8080/grupo-web-wiki">Nosotros</a></li>
          <li><a href="http://127.0.0.1:8080/grupo-web-wiki/proyecto">Proyecto</a></li>
          <li><a href="http://127.0.0.1:8080/grupo-web-wiki/requerimientos">Requerimientos</a></li>
          <li><a href="http://127.0.0.1:8080/grupo-web-wiki/arquitectura">Arquitectura</a></li>
          <li><a href="http://127.0.0.1:8080/grupo-web-wiki/desarrollo">Desarrollo</a></li>
          <li><a href="http://127.0.0.1:8080/grupo-web-wiki/pruebas">Pruebas</a></li>
          <li><a href="http://127.0.0.1:8080/grupo-web-wiki/despliegue">Despliegue</a></li>
          <li><a href="http://127.0.0.1:8080/grupo-web-wiki/contactenos">Contactenos</a></li>
        </ul>
      </nav>
    </header>
  </div>