<div class="container mt-5 pt-5">
  <h2 class="text-center">Calificaciones</h2>

  <!-- Formulario para agregar calificación -->
  <form class="form-card" (ngSubmit)="crearCalificacion()">
    <div class="form-group">
      <label for="comentario">Comentario</label>
      <input type="text" id="comentario" class="form-control" [(ngModel)]="nuevaCalificacion.comentario" name="comentario" placeholder="Comentario de la calificación">
    </div>

    <div class="form-group">
      <label for="puntuacion">Puntuación</label>
      <select id="puntuacion" class="form-control" [(ngModel)]="nuevaCalificacion.puntuacion" name="puntuacion">
        <option disabled selected>Puntuación (1-10)</option>
        <option *ngFor="let puntuacion of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="puntuacion">{{ puntuacion }}</option>
      </select>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Agregar Calificación</button>
    </div>
  </form>

  <!-- Tabla para mostrar las calificaciones -->
  <div class="table-responsive">
    <table class="table table-striped table-hover mt-4">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Comentario</th>
          <th>Puntuación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let calificacion of calificaciones">
          <td>{{ calificacion.id }}</td>
          <td>{{ calificacion.comentario }}</td> 
          <td>{{ calificacion.puntuacion }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="eliminarCalificacion(calificacion.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
